{% extends 'base.html' %}

{% block content %}
<span class="title"><h1>{% block title %} Job Applications {% endblock %}</h1></span>
<div class="content">
    <h2><a href="/job/new">Add New Job</a></h2>
    <br>
    <hr>
</div>
<div class="content">
    <h2>Saved Jobs</h2>
    {% for job in jobs %}
    <div>
        <p>
            <b>
                <a>
                    {{ job.title }}
                </a>
            </b>
        </p>
        <div class="content">
            <p>{{ job.content }}</p>
        </div>
        <form action="/job/edit/{{job.id}}" method=post>
            <input type="hidden" name="id" value="">
            <input type="submit" value="Edit" class="button"/>
        </form>
        <form action="/job/delete/{{job.id}}" method=post>
            <input type="hidden" name="id" value="">
            <input type="submit" value="Delete" class="button"/>
        </form>
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}