h2 {
    width: 100%;
    margin-bottom: 20px;
}

.title {
    margin: 5px;
    width: 100%;
}

.content {
    width: 100%;
    text-align: center;
}

.title a {
    color: #00a36f;
    text-decoration: none;
}

nav a {
    color: #DC143C;
    font-weight: bold;
    font-size: 17px;
    margin-left: 80px;
    text-decoration: none;
}

img {
    width: 450px;
    padding-bottom: 40px;
}

a {
    color: black;
}

button, .button {
    cursor: pointer;
    font-size: 15px;
    color: whitesmoke;
    background-color: #8b0000;
    border-color: #8b0000;
    border-radius: 3px;
    height: 37px;
    width: 112px;
}

input {
    width: 20px;
}