h2 {
    color: #696969;
    width: 100%;
}

.title {
    margin: 5px;
    width: 100%;
}

.content {
    margin: 5px;
    width: 100%;
    text-align: center;
}

.title a {
    color: #00a36f;
    text-decoration: none;
}

nav a {
    color: #DC143C;
    font-weight: bold;
    font-size: 17px;
    margin-left: 80px;
    text-decoration: none;
}

img {
    width: 450px;
    padding-bottom: 40px;
}

a {
    color: black;
}